<section class="text-center mt-5">
  <h1 class="display-6">¡Bienvenidos a EntreTableros!</h1>
</section>

<div class="category-grid text-center mt-4">
  <a [routerLink]="['/categoria', 'estrategia']" class="card">
    <img src="/images/estrategia-icon.png" alt="Estrategia" />
    <p>Estrategia</p>
  </a>
  <a [routerLink]="['/categoria', 'familiares']" class="card">
    <img src="/images/familiares-icon.png" alt="Familiares" />
    <p>Familiares</p>
  </a>
  <a [routerLink]="['/categoria', 'cartas']" class="card">
    <img src="/images/cartas-icon.png" alt="Cartas" />
    <p>Cartas</p>
  </a>
  <a [routerLink]="['/categoria', 'infantiles']" class="card">
    <img src="/images/infantiles-icon.png" alt="Infantiles" />
    <p>Infantiles</p>
  </a>
</div>
